.slider-section {
  position: relative;
  padding-top: 220px;
  @include lg {
    padding-top: 120px;
  }
  @include xs {
    padding-top: 60px;
  }
  .swiper {
    height: 808px;
  }
  .slide {
    height: 100%;
    background: center center url(./img/device.png) no-repeat;
    background-size: contain;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
    img {
      display: block;
      max-width: calc(100% - 10px);
    }
    @include lg {
      img {
        max-width: 250px;
      }
    }
    @include md {
      img {
        max-width: 350px;
      }
    }
  }
  .slider-wrapper {
    @include lg {
      position: relative;
    }
  }
  .slider-button {
    flex-shrink: 0;
    width: 94px;
    height: 94px;
    border: 2px solid #f8b043;
    border-radius: 100%;
    margin-right: 65px;
    &:last-child {
      margin-left: 65px;
      margin-right: 0;
      svg {
        transform: rotate(180deg);
      }
    }
    @include lg {
      position: absolute;
      z-index: 2;
      bottom: -20px;
      right: 0;
      &:first-child {
        margin-left: 40px;
        left: 0;
      }
      &:last-child {
        margin-right: 40px;
      }
    }
    @include md {
      top: 50%;
      bottom: 0;
    }
    @include sm {
      top: auto;
      bottom: -150px;
    }
  }
}
