html {
  --color-yellow-1: #ffdd00;
  --color-yellow-2: #F2C94C;

  --color-light-1: #ffffff;
  --color-light-2: #fafafa;

  --color-gray-1: #8c8c94;
  --color-gray-2: #505050;

  --color-dark-1: #000000;
  --color-dark-2: #2e2e32;
}
