$xxs: 460px;
$xs: 660px;
$sm: 768px;
$md: 960px;
$lg: 1280px;
$xl: 1440px;
$xxl: 1600px;

@mixin xxs {
  @media (max-width: $xxs) {
    @content;
  }
}

@mixin xs {
  @media (max-width: $xs) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $md) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $lg) {
    @content;
  }
}

@mixin xl {
  @media (max-width: $xl) {
    @content;
  }
}
@mixin xxl {
  @media (max-width: $xxl) {
    @content;
  }
}
