h2 {
  color: var(--color-dark-2);
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  @include xl {
    font-size: 45px;
    line-height: 55px;
  }
  @include lg {
    font-size: 42px;
    line-height: 52px;
  }
  @include md {
    font-size: 36px;
    line-height: 46px;
  }
  @include xs {
    font-size: 24px;
    line-height: 30px;
  }
}

.w-container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
  @include xl {
    max-width: 1300px;
  }
  @include lg {
    max-width: 960px;
  }
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.j-between {
    justify-content: space-between;
  }
  &.j-center {
    justify-content: center;
  }
  &.a-center {
    align-items: center;
  }
  &.a-end {
    align-items: flex-end;
  }
}

.mr-10 {
  margin-right: 10px;
}

.back-svg-1 {
  position: absolute;
  top: -220px;
  right: 0;
  @include lg {
    display: none;
  }
}
.back-svg-2 {
  position: absolute;
  bottom: -400px;
  left: -130px;
  @include lg {
    display: none;
  }
}
.back-svg-3 {
  position: absolute;
  top: 120px;
  right: 0;
  @include lg {
    display: none;
  }
}
.back-svg-4 {
  position: absolute;
  top: 400px;
  left: -150px;
  @include lg {
    display: none;
  }
}
.back-svg-5 {
  position: absolute;
  top: 400px;
  right: 0;
  z-index: -1;
  @include lg {
    display: none;
  }
}
.back-svg-6 {
  z-index: -1;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  @include lg {
    display: none;
  }
}
.back-svg-7 {
  position: absolute;
  z-index: -1;
  top: -220px;
  right: 0;
  @include lg {
    display: none;
  }
}
.back-svg-8 {
  position: absolute;
  z-index: -1;
  top: -220px;
  right: 0;
  @include lg {
    display: none;
  }
}
.back-svg-9 {
  z-index: -1;
  position: absolute;
  bottom: -350px;
  left: -50px;
  transform: scale(-1, -1);
  @include lg {
    display: none;
  }
}
