.global-header {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding-top: 20px;

  .burger {
    display: none;
    @include md {
      display: block;
    }
  }
  .phone-mobile {
    display: none;
    @include xs {
      display: block;
    }
  }
  .logo {
    cursor: pointer;
    @include md {
      display: none;
    }
  }
  .header-link {
    a {
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: var(--color-light-1);
      transition: 300ms;
      border-bottom: 1px solid transparent;
      &:not(:last-child) {
        margin-right: 20px;
      }
      &:hover {
        border-bottom: 1px solid var(--color-light-1);
      }
    }
    @include xl {
      font-size: 14px;
      line-height: 16px;
    }
    @include md {
      display: none;
    }
  }
  .messengers {
    @include lg {
      display: none;
    }
  }
  .mess-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-light-1);
    margin-right: 30px;
    @include xl {
      font-size: 14px;
      line-height: 16px;
      margin-right: 20px;
    }
    @include lg {
      display: none;
    }
    @include md {
      display: block;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border: 2px solid var(--color-yellow-1);
    border-radius: 5px;
    transition: 300ms;
    svg {
      fill: var(--color-yellow-1);
    }
    &:hover {
      border: 2px solid var(--color-yellow-2);
      svg {
        fill: var(--color-yellow-2);
      }
    }
  }
  .phone {
    display: flex;
    align-items: flex-end;
    svg {
      fill: var(--color-light-1);
      margin-right: 16px;
      @include xl {
        width: 20px;
        height: 20px;
      }
    }
    @include xs {
      display: none;
    }
  }
  .phone-container {
    a {
      font-weight: 900;
      font-size: 26px;
      line-height: 36px;
      color: var(--color-light-1);
      @include xl {
        font-size: 23px;
      }
    }
    &:hover {
      a {
        color: var(--color-yellow-1);
      }
      svg {
        fill: var(--color-yellow-1);
      }
    }
  }
  .phone-txt {
    cursor: pointer;
    white-space: nowrap;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: var(--color-yellow-1);
    border-bottom: 1px solid transparent;
    transition: 300ms;
    margin-top: 10px;
    &:hover {
      border-bottom: 1px solid var(--color-yellow-1);
    }
    @include xl {
      font-size: 14px;
      line-height: 16px;
    }
    @include md {
      display: none;
    }
  }
}
